extends layout

block content
  h1=title
  form(id="form", action="/login", method="post")
    ul
      li
        span Username
        input(type="text", name="username")
      li
        span Password
        input(type="password", name="password")

    button(type="submit") Submit

    p #{errorMessage}

  //- script(src="/static/javascripts/login.js")
