extends layout

block content
  h1 Username
  p #{username}
  h1 Email
  p #{email}
  a(href="/", style="display: block; margin-top: 40px;") Go to home
  a(href="/logout", style="display: block; margin-top: 20px;") Go to logout
